* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    * {
        font-size: 99%;
    }
}
a {
    color: #009688;
    font-weight: bold;
    transition-duration: 1s;
}
a:hover {
    background-color: #ff9800;
    color: #333;
    text-decoration: none;
}

.big {
    font-size: 20px;
}
.small {
    font-size: 16px;
}
.bigger, h2 {
    font-size: 22px;
}
.deep {
    font-weight: bolder;
}
h2 {
    color: #00000085;
    text-decoration: underline;
}
#header {
    line-height: 60px;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 20px;
}
.container {
    width: 800px;
    flex-shrink: 1;
}
.site-nameLink {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}
.site-nameLink:hover {
    background-color: #fff;
}
.site-name {
    font-size: 22px;
    display: flex;
    flex-flow: row nowrap;
}
#header .container {
    display: flex;
    justify-content: space-between;
}
#header>.container>div>a {
    margin: 0 5px;
}
@media only screen and (max-width: 600px) {
    #header>.container>div>a {
        font-size: 60%;
    }
}

#body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#body img {
    max-width: 100%;
}
ul {
    padding-left: 16px;
}
ul li {
    list-style-type: square;
    padding: 5px 0;
}
.author {
    padding: 16px;
    border: 1px dashed #333;
    position: relative;
    box-shadow: 0px 2px 7px #c3c3c3;
}
.author::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #333;
    border: 5px solid #ff3333;
}
.author::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #333;
    border: 5px solid #ff3333;
}

.poster {
    width: 100%;
    padding: 16px;
    border: 1px dashed #333;
    position: relative;
    box-shadow: 0px 2px 7px black;
}
@media only screen and (max-width: 600px) {
  .poster {
    width: calc(100vw - 42px);
  }
}
.poster::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #333;
    border: 5px solid #ff3333;
}
.poster::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #333;
    border: 5px solid #ff3333;
}
.search {
    width: 50%;
    margin: 10px 25%;
}

.tags {
    display: flex;
    flex-flow: row wrap;
}
.tag {
    background-color: #ff9800;
    margin: 2px 5px;
    padding: 0 3px;
    cursor: pointer;
    transition: 1s;
    color: aliceblue;
}

.tag.active {
    background-color: #009688;
}

.cover_img {
    width: 100%;
    text-align: center;
}
.cover_img img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.gatsby-highlight {
    background-color: #1d1f21;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    margin: 0.5em 0;
    padding: 0 1em;
    overflow: auto;
  }
.filename {
    background-color: #4e555d;
    border-top-right-radius: 0.3em;
    padding: 0.2em 0.5em;
    font-weight: bolder;
    color: #ffffffd6;
    border-top-left-radius: 0.3em;
    margin-bottom: -0.5em;
}
  
  .gatsby-highlight pre[class*="language-"].line-numbers {
    padding: 0;
    padding-left: 0em;
    overflow: initial;
  }